.cproject
.project
.pydevproject
cmake_install.cmake
build/
devel/
bin/
lib/
msg_gen/
srv_gen/
src/robotsim/.idea
src/robotsim/scripts/.idea
.idea/
*.py~
*.pyc
*.world~
*.test~
*.inc~
*.launch~
*.txt~
*.sh~
*.gitignore~
